:root {
  background-color: #1dbc47;

  --ion-color-primary: #00ff59;
  --ion-color-primary-rgb: 0, 255, 89;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #00e04e;
  --ion-color-primary-tint: #1aff6a;

  --ion-color-secondary: #008516;
  --ion-color-secondary-rgb: 0, 133, 22;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #007513;
  --ion-color-secondary-tint: #1a912d;

  --ion-color-tertiary: #00ffaa;
  --ion-color-tertiary-rgb: 0, 255, 170;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #00e096;
  --ion-color-tertiary-tint: #1affb3;

  --ion-color-success: #04b433;
  --ion-color-success-rgb: 4, 180, 51;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #049e2d;
  --ion-color-success-tint: #1dbc47;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197, 0, 15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;

  --ion-color-header-style: #04ebeb;
  --ion-color-header-style-rgb: 4, 235, 235;
  --ion-color-header-style-contrast: #000000;
  --ion-color-header-style-contrast-rgb: 0, 0, 0;
  --ion-color-header-style-shade: #04cfcf;
  --ion-color-header-style-tint: #1deded;
}
