swiper-container {
    width: 50%;
    height: 50%;
  }
   
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ion-fab-button {
    --background: #2f8206;
    --background-activated: #38a800;
    --background-hover: #a3e681;
    --border-radius: 15px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --color: rgb(255, 255, 255);
  }