<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="header_tool">
          <ion-icon color="secondary" name="nutrition"></ion-icon>
          {{fert.NombreFert}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab (click)="dismissModal()" edge="true" slot="fixed" vertical="top" horizontal="left">
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid id="container">
    <img [src]="fert.FotoFert">
  </ion-grid>
  <!--Nombre Fertilizante-->
  <ion-item>
    <ion-icon name="bookmark" class="margin"></ion-icon>
    <h1>Nombre: {{fert.NombreFert}} </h1>
  </ion-item>

  <!--Descripcion -->
  <ion-item>
    <h3>Descripción: {{fert.DescripcionFert}}</h3>
  </ion-item>

  <!--Frecuencia -->
  <ion-item>
    <h3>Frecuencia: Cada {{fert.FrecuenciaDias}} dias</h3>
  </ion-item>

  <!--Modo de uso -->
  <ion-item>
    <h3>Modo de uso: {{fert.ModoDeUso}}</h3>
  </ion-item>

</ion-content>
