<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Colocar el logo aquí -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-pading">
    <!-- Aca va el contenido del menu -->
    <ion-content>
      <ion-list [inset]="true">
        <ion-item>
          <!-- Perfil -->
          <ion-icon name="person"></ion-icon>
          <ion-label class="ion-margin">Perfil</ion-label>
        </ion-item>
        <ion-item>
          <!-- Configuración -->
          <ion-icon name="build"></ion-icon>
          <ion-label class="ion-margin">Configuración</ion-label>
        </ion-item>
        <ion-item href="plantas">
          <!-- Plantas -->
          <ion-icon name="leaf"></ion-icon>
          <ion-label class="ion-margin">Plantas</ion-label>
        </ion-item>
        <ion-item href="consejos">
          <!-- Consejos -->
          <ion-icon name="help"></ion-icon>
          <ion-label class="ion-margin">Consejos</ion-label>
        </ion-item>
        <ion-item href="login">
          <!-- Cerrar Sesión -->
          <ion-icon name="log-out"></ion-icon>
          <ion-label class="ion-margin">Cerrar Sesión</ion-label>

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Plantas disponibles</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Arriba todo el menu, abajo el contenido de la pagina  -->

  <ion-content class="ion-padding">
    <ion-title>Plantas Populares</ion-title>
    <swiper-container class="ion-padding">
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>
  </ion-content>
  <!-- Lista con las plantas registradas en la BD  -->
  <ion-content class="ion-padding">
    <ion-title>Plantas disponibles</ion-title>
    <ion-searchbar></ion-searchbar>
    <ion-content class="ion-pading">

      <!-- lista de las plantas -->
      <ion-list *ngIf="!loading">
        <ion-item-sliding class="products-item" *ngFor="let p of Plant">
          <ion-item (click)="verPlanta(p)">
            <ion-avatar slot="start">

            </ion-avatar>
            <ion-label>
              <div class="name">{{p.NombrePlanta}}</div>
              <div>
                <strong>Temporada: </strong> {{p.Temporada}} <br>
                <strong>Dias de Fertilizacion: </strong> {{p.DiasFertilizacion}}
              </div>
            </ion-label>
            <!-- botones de editar , eliminar y ver -->
            <!-- <ion-button (click)="addUpdatePlant(p)" color="primary" expand="block" shape="round">
              editar
            </ion-button>
            <ion-button (click)="confirmDeletePlant(p)" color="danger" expand="block" shape="round">
              eliminar
            </ion-button>
    
            <ion-button (click)="verPlanta(p)" expand="block" shape="round">
              ver
            </ion-button> -->

          </ion-item>
          <!--opciones-->
          <ion-item-options>
            <!--editar-->
            <ion-item-option (click)="addUpdatePlant(p)">
              <ion-icon class="option-btn" name="create-outline"></ion-icon>
            </ion-item-option>
            <!--borrar-->
            <ion-item-option color="danger" (click)="confirmDeletePlant(p)">
              <ion-icon class="option-btn" name="trash-outline"></ion-icon>
            </ion-item-option>

          </ion-item-options>


        </ion-item-sliding>
      </ion-list>

      <!--Agregar Plantas-->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addUpdatePlant()">
          <ion-icon name="add" size="small"></ion-icon>
        </ion-fab-button>
      </ion-fab>



    </ion-content>