<ion-header slot="fixed">
  <ion-toolbar color="#1a73b3" class="header_tool">
    🌿Catalogo de plantas🌿
  </ion-toolbar>
</ion-header>


  <!-- Arriba todo el menu, abajo el contenido de la pagina  -->

  <ion-content>
    <ion-grid class="background-login-register" id="swipers">
      <ion-row>
        <ion-col>
          <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
          </ion-refresher>
          <swiper-container *ngIf="!loading">
            <swiper-slide *ngFor="let p of Plant">
              <ion-card (click)="prePlanta(p)">
                  <!-- si existe una imagen -->
                  <img class="img-card"  [src]="p.FotoPlanta" *ngIf="p.FotoPlanta" alt="">
                  <!-- si no existe una imagen -->
                  <img alt="Lechuga" *ngIf="!p.FotoPlanta"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKJlKwuXEzhNOW8IpfoMSHIEIbvglzZX5Msg&s" />
                  <ion-card-header>
                    <ion-card-title class="name_tool">{{p.NombrePlanta}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-list class="list_list" color="#ffe4c4">
                      <ion-item class="list_item" color="#ffe4c4">
                        <ion-icon name="calendar" class="ion-margin"></ion-icon>
                        <!-- Agregar Temporada desde BD -->
                        Temporada: {{p.Temporada}}
                      </ion-item>
                      <ion-item class="list_item" color="#ffe4c4">
                        <img id="seed-icon" src="./../../assets/icon/seedg.png" class="ion-margin"/>
                        <!-- Calcular tiempo de riego -->
                        Tipo de siembra: {{p.TipoSiembra}}
                      </ion-item>
                      <ion-item class="list_item" color="#ffe4c4">
                        <ion-icon name="sunny" class="ion-margin"></ion-icon>
                        <!-- Agregar Temporada desde BD -->
                        Tipo de luz: {{p.TipoLuz}}
                      </ion-item>
                      <ion-item class="list_item" color="#ffe4c4">
                        <ion-icon name="sunny" class="ion-margin"></ion-icon>
                        <!-- Agregar Temporada desde BD -->
                        Dias hasta su cosecha: {{p.DiasCosecha}}
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
              </ion-card>
            </swiper-slide>
                <!--Agregar Plantas-->
          </swiper-container>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col>
    <!--Agregar Plantas-->
          <ion-fab vertical="bottom" horizontal="end" *ngIf="admin">
            <ion-fab-button size="small" (click)="addUpdatePlant()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>


  </ion-grid>
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToPlantas()">
          <ion-icon color="primary" name="leaf"></ion-icon>
          Plantas
        </ion-tab-button>
        <ion-tab-button (click)="goToHome()">
          <ion-icon color="primary" name="Home"></ion-icon>
          Mi huerta
        </ion-tab-button>
        <ion-tab-button (click)="goToConsejos()">
          <ion-icon color="primary" name="bulb"></ion-icon>
          Consejos
        </ion-tab-button>
        <ion-tab-button (click)="confirmCerrarsesion()">
          <ion-icon color="primary" name="exit"></ion-icon>
          Cerrar sesión
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
