<app-header [isModal]="true" [title]="plag ? 'Actualizar Plaga' : 'Agregar Plaga'"></app-header>
<ion-content>

  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!--solo si existe una imagen-->
    <ion-avatar *ngIf="form.value.FotoPlag">
      <img [src]="form.value.FotoPlag">
    </ion-avatar>

    <!--solo si NO existe una imagen-->

    <ion-icon class="image-icon" *ngIf="!form.value.FotoPlag" name="image-outline"></ion-icon>

    <br>
    <!--tomar/selecciona imagen-->
    <ion-button (click)="tomarImagen()"  mode="md" size="small" shape="round">
      tomar/seleccionar
    </ion-button>

    <!--Nombre de fertilizante-->

    <app-custom-input autocomplete="name" [control]="form.controls.NombrePlag" type="text"
      label="Nombre de la Plaga"></app-custom-input>

    <div class="validators" *ngIf="form.controls.NombrePlag.errors && form.controls.NombrePlag.touched">

      <div *ngIf="form.controls.NombrePlag.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.NombrePlag.errors?.['minLenght']">El nombre debe tener al menos 2 caracteres</div>
    </div>

    <!--descripcion Fertilizacion-->

    <app-custom-input [control]="form.controls.DescripcionPlag" type="text"
      label="Descripción de la Plaga"></app-custom-input>

    <div class="validators" *ngIf="form.controls.DescripcionPlag.errors && form.controls.DescripcionPlag.touched">

      <div *ngIf="form.controls.DescripcionPlag.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.DescripcionPlag.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--ModoDeUso-->

    <app-custom-input autocomplete="CausasPosibles" [control]="form.controls.CausasPosibles" type="text"
      label="Causas posibles"></app-custom-input>

    <div class="validators" *ngIf="form.controls.CausasPosibles.errors && form.controls.CausasPosibles.touched">

      <div *ngIf="form.controls.CausasPosibles.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.CausasPosibles.errors?.['minLenght']">se debe decir si hay unidades disponibles</div>
    </div>

    <!--ModoDeUso-->

    <app-custom-input autocomplete="Control" [control]="form.controls.Control" type="text"
      label="Tratamiento de la Plaga"></app-custom-input>

    <div class="validators" *ngIf="form.controls.Control.errors && form.controls.Control.touched">

      <div *ngIf="form.controls.Control.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.Control.errors?.['minLenght']">se debe decir si hay unidades disponibles</div>
    </div>

    <!--FrecuenciaDias-->

    <app-custom-input [control]="form.controls.DuracionDias" type="number" label="Dias de Tratamiento"
      (ionInput)="setNumberInputs()"></app-custom-input>

    <div class="validators" *ngIf="form.controls.DuracionDias.errors && form.controls.DuracionDias.touched">

      <div *ngIf="form.controls.DuracionDias.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.DuracionDias.errors?.['min']">no se pueden ingresar numeros negativos</div>
    </div>

    <ion-button mode="md" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{plag ? 'Actualizar Plaga' : 'Agregar Plaga'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>

</ion-content>