<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--boton para cerrar modal-->
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{plant.NombrePlanta}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Nombre Planta-->
  <ion-item>
    <ion-icon slot="start" name="leaf" color="primary"></ion-icon>
    <h1> Nombre: {{plant.NombrePlanta}} </h1>
  </ion-item>

  <!--Temporada -->
  <ion-item>
    <h2>Temporada: {{plant.Temporada}}</h2>
  </ion-item>

  <!--Descripcion -->
  <ion-item>
    <h3>Descripcion: {{plant.Descripcion}}</h3>
  </ion-item>


  <!--Recomendaciones -->
  <ion-item>
    <h3>Recomendaciones: {{plant.Recomendaciones}}</h3>
  </ion-item>

  <ion-item>
    <ion-button size="medium" slot="start" (click)="verPlanta(plant)">Detalles</ion-button>
    <!--editar-->
    <ion-button size="medium" (click)="addUpdatePlant(plant)" color="success">Editar</ion-button>
    <!--borrar-->
    <ion-button size="medium" slot="end" (click)="confirmDeletePlant(plant)" color="danger">Borrar</ion-button>
  </ion-item>
  
</ion-content>