
<ion-header>
  <ion-toolbar (click)="dismissModal()">
    <ion-grid>
      <ion-row>
        <ion-col class="header_tool">
          🌱{{plant.NombrePlanta}}🌱
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-fab (click)="dismissModal()" edge="true" slot="fixed" vertical="top" horizontal="left">
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-avatar>
    <img [src]="plant.FotoPlanta">
  </ion-avatar>
  <!--Temporada -->
  <ion-item>
    <h2>Temporada: {{plant.Temporada}}</h2>
  </ion-item>

  <!--Tipo de luz -->
  <ion-item>
    <h3>Tipo de Luz: {{plant.TipoLuz}}</h3>
  </ion-item>

  <!-- Dias de germinacion -->
  <ion-item>
    <h3>Dias de germinacion: {{plant.DiasGerminacion}}</h3>
  </ion-item>
  <!-- Dias cosecha -->
  <ion-item>
    <h3>Dias cosecha: {{plant.DiasCosecha}}</h3>
  </ion-item>
  <!-- Temperatura minima  -->
  <ion-item>
    <h3>Temperatura minima : {{plant.TempMin}}</h3>
  </ion-item>
  <!-- Temperatura maxima -->
  <ion-item>
    <h3>Temperatura maxima: {{plant.TempMax}}</h3>
  </ion-item>

  <ion-item>
  <ion-grid>
    <ion-row>
      <!--detalle-->
      <ion-col>
        <ion-button size="medium" color="light" (click)="verPlanta(plant)">Detalles📖</ion-button>
      </ion-col>
      <!--agregar-->
      <ion-col>
        <ion-button size="medium" color="success" (click)="addUpdatePlantUser(plant)">Plantar🌱</ion-button>
      </ion-col>
          <!--editar-->
      <ion-col>
        <ion-button size="medium" *ngIf="admin" (click)="addUpdatePlant(plant)" color="warning">Editar✍</ion-button>
      </ion-col>
          <!--borrar-->
      <ion-col>
        <ion-button size="medium" *ngIf="admin" (click)="confirmDeletePlant(plant)" color="danger">Borrar❌</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
  
</ion-content>