<ion-header slot="fixed">
  <ion-toolbar color="#1a73b3" class="header_tool">
    🌱{{ plant.NombrePlanta }}🌱
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab
    (click)="dismissModal()"
    edge="true"
    slot="fixed"
    vertical="top"
    horizontal="left"
  >
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid class="background-preplant">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
          <img [src]="plant.FotoPlanta" />
        </ion-avatar>
      </ion-card-header>
      <ion-card-content>
        <br />
    <!--Temporada -->
      <h1 class="titulo">Temporada</h1>
      <p class="ion-margin contenido">{{ plant.Temporada }}</p>
    <!--Tipo de luz -->
      <h3 class="titulo">Tipo de Luz </h3>
      <p class="ion-margin contenido">{{ plant.TipoLuz }}</p>
    <!-- Dias de germinacion -->
      <h3 class="titulo">Germinará el día</h3>
      <p class="ion-margin contenido">{{ plant.DiasGerminacion }}</p>
    <!-- Dias cosecha -->
      <h3 class="titulo">Dias para cosechar</h3>
      <p class="ion-margin contenido">{{ plant.DiasCosecha }}</p>
    <!-- Temperatura minima  -->
      <h3 class="titulo">Temperatura minima</h3>
      <p class="ion-margin contenido">{{ plant.TempMin }}</p>
    <!-- Temperatura maxima -->
      <h3 class="titulo">Temperatura maxima</h3>
      <p class="ion-margin contenido">{{ plant.TempMax }}</p>

      <ion-grid color="#1a73b3">
        <ion-row>
          <!--detalle-->
          <ion-col color="tertiary">
            <ion-button size="medium" color="light" (click)="verPlanta(plant)"
              >Detalles📖</ion-button
            >
          </ion-col>
          <!--agregar-->
          <ion-col>
            <ion-button
              size="medium"
              color="success"
              (click)="addUpdatePlantUser(plant)"
              >Plantar🌱</ion-button
            >
          </ion-col>
          <!--editar-->
          <ion-col>
            <ion-button
              size="medium"
              *ngIf="admin"
              (click)="addUpdatePlant(plant)"
              color="warning"
              >Editar✍</ion-button
            >
          </ion-col>
          <!--borrar-->
          <ion-col>
            <ion-button
              size="medium"
              *ngIf="admin"
              (click)="confirmDeletePlant(plant)"
              color="danger"
              >Borrar❌</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
