<ion-header>
    <ion-toolbar color="#1a73b3" class="header_tool">
      🌱{{plantUser.NombrePerso}}🌱
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab (click)="dismissModal()" edge="true" slot="fixed" vertical="top" horizontal="left">
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid class="background-login-register ion-padding">
    <br>
    <br>
    <ion-card color="#1a73b3">
      <ion-card-header color="#1a73b3">
        <ion-item color="#1a73b3">
          <img *ngIf="plantUser.FotoPlantUser" [src]="plantUser.FotoPlantUser">
          <!-- si no tiene imagen -->
          <img alt="Lechuga" *ngIf="!plantUser.FotoPlantUser"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKJlKwuXEzhNOW8IpfoMSHIEIbvglzZX5Msg&s" />
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        
  <!--Nombre Planta-->
  <ion-item color="#1a73b3" class="item-text">
    📖Nombre: {{plantUser.NombrePlanta}}
  </ion-item>

  <!--Nombre Cientifico-->
  <ion-item color="#1a73b3" class="item-text">
    🧧Alias de la planta: {{plantUser.NombrePerso}}
  </ion-item>

  <!--Temporada -->
  <ion-item color="#1a73b3" class="item-text">
    ⏳Temporada: {{plantUser.Temporada}}
  </ion-item>

  <!--Fecha de siembra -->
  <ion-item color="#1a73b3" class="item-text">
    📅Fecha de Siembra: {{plantUser.FechaSiembra}}
  </ion-item>

  <!--Tipo de siembra -->
  <ion-item color="#1a73b3" class="item-text">
    🌱Tipo de Siembra: {{plantUser.TipoPLanta}}
  </ion-item>

  <!--Fecha riego -->
  <ion-item color="#1a73b3" class="item-text">
    ⏰Ultima fecha de Riego: {{plantUser.UltimoDiaRiego}}
  </ion-item>

  <ion-item color="#1a73b3">
    <!--editar-->
    <ion-button (click)="addUpdatePlant(plantUser)" size="medium" slot="start" color="success">✍Editar</ion-button>
    <!--borrar-->
    <ion-button (click)="presentarRiego(plantUser.IDPlantaUser)" size="medium" color="tertiary">💧Regar</ion-button>
    <!--borrar-->
    <ion-button (click)="confirmDeletePlant(plantUser)" size="medium" slot="end" color="danger">❌Borrar</ion-button>
  </ion-item>
      </ion-card-content>
    </ion-card>
</ion-grid>
</ion-content>