
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--boton para cerrar modal-->
      <ion-button (click)="dismissModal()" >
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title>
      <strong>{{plantUser.NombrePlanta}}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Nombre Planta-->
  <ion-item>
    <h2>Nombre: {{plantUser.NombrePlanta}} </h2>
  </ion-item>

  <!--Nombre Cientifico-->
  <ion-item>
    <h2>Alias de la planta: {{plantUser.NombrePerso}}</h2>
  </ion-item>

  <!--Temporada -->
  <ion-item>
    <h2>Temporada: {{plantUser.Temporada}}</h2>
  </ion-item>

  <!--Descripcion -->
  <ion-item>
    <h2>Descripcion: {{plantUser.FechaSiembra}}</h2>
  </ion-item>

  <!--TipoLuz -->
  <ion-item>
    <h2>Tipo de Luz: {{plantUser.TipoPLanta}}</h2>
  </ion-item>

  <!--TipoSiembra -->
  <ion-item>
    <h2>Tipo de Siembra: {{plantUser.UltimoDiaRiego}}</h2>
  </ion-item>

  <ion-item>
    <!--editar-->
    <ion-button (click)="addUpdatePlant(plantUser)" size="medium" slot="start" color="success">Editar</ion-button>
    <!--borrar-->
    <ion-button (click)="confirmDeletePlant(plantUser)" size="medium" slot="end" color="danger">Borrar</ion-button>
  </ion-item>
</ion-content>