img {
    width: 350px;
    height: 300px;
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.250);
    border-style: solid;
    border-width: 1px;
  }

.header_tool{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff89a;
    
  }