

<ion-header>
  <ion-toolbar (click)="dismissModal()">
    <ion-grid>
      <ion-row>
        <ion-col class="header_tool">
          <ion-icon name="bandage" color="warning"></ion-icon>
          {{enfer.NombreEnfer}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab (click)="dismissModal()" edge="true" slot="fixed" vertical="top" horizontal="left">
    <ion-fab-button size="small">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- foto -->
   <ion-grid id="container">
    <img [src]="enfer.FotoEnfer">
   </ion-grid>

  <!--Descripcion -->
  <ion-item>
    <h3>Descripción: {{ enfer.DescripcionEnfer }}</h3>
  </ion-item>

  <!--Causas -->
  <ion-item>
    <h3>Causas: {{ enfer.CausasEnfer }}</h3>
  </ion-item>

  <!--Control -->
  <ion-item>
    <h3>Control: {{ enfer.ControlEnfer }}</h3>
  </ion-item>

  <!--Duración -->
  <ion-item>
    <h3>Verificar cada: {{ enfer.DuracionEnfer }} días</h3>
  </ion-item>
</ion-content>