
<app-header color="medium" [isModal]="true" [title]="plantUser ? 'Actualizar Planta' : 'Agregar Planta'"></app-header>
<ion-content class="background-login-register">
<ion-grid class="background-login-register ion-padding" >
  <br><br>
  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!--solo si existe una imagen-->
    <ion-avatar *ngIf="form.value.FotoPlantUser">
      <img [src]="form.value.FotoPlantUser">
    </ion-avatar>

    <!--solo si NO existe una imagen-->
    <ion-icon class="image-icon" *ngIf="!form.value.FotoPlantUser" name="image-outline"></ion-icon>
    <br>
    <!--tomar/selecciona imagen-->
    <ion-grid>
      <ion-row>
        <ion-col> <ion-icon size="large" (click)="tomarImagen()" name="camera-outline"></ion-icon> </ion-col>
        <ion-col> <ion-icon size="large" (click)="sacaFoto()" name="image-outline"></ion-icon> </ion-col>
      </ion-row>
    </ion-grid>
    
    <!--  Nombre de la Planta -->

    <ion-item *ngIf="!plant" class="custom-input">
      <ion-label>Nombre: {{plantUser.NombrePlanta}}</ion-label>
    </ion-item>

    <!--  Nombre de la "Planta" -->
    <ion-item *ngIf="plant" class="custom-input">
      <ion-label>Nombre: {{plant.NombrePlanta}}</ion-label>
    </ion-item>

    <!--Alias planta-->

    <app-custom-input [control]="form.controls.NombrePerso" type="text" label="Alias de la planta"></app-custom-input>

    <div class="validators" *ngIf="form.controls.NombrePerso.errors && form.controls.NombrePerso.touched">

      <div *ngIf="form.controls.NombrePerso.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.NombrePerso.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--Fecha de la siembra-->

    <app-custom-input autocomplete="Temporada" [control]="form.controls.FechaSiembra" type="date"
      label="Fecha de siembra"></app-custom-input>

    <div class="validators" *ngIf="form.controls.FechaSiembra.errors && form.controls.FechaSiembra.touched">

      <div *ngIf="form.controls.FechaSiembra.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.FechaSiembra.errors?.['minLenght']">se debe decir si hay unidades disponibles</div>
    </div>

    <!--Ultimo dia de riego-->
    <app-custom-input [control]="form.controls.UltimoDiaRiego" type="date"
      label="Ultimo Dia de riego"></app-custom-input>

    <div class="validators" *ngIf="form.controls.UltimoDiaRiego.errors && form.controls.UltimoDiaRiego.touched">

      <div *ngIf="form.controls.UltimoDiaRiego.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.UltimoDiaRiego.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--Temporada -->

    <app-custom-input *ngIf="!plant" [control]="form.controls.Temporada" type="text"
      label="Temporada"></app-custom-input>

    <div class="validators" *ngIf="form.controls.Temporada.errors && form.controls.Temporada.touched">

      <div *ngIf="form.controls.Temporada.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.Temporada.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--Temporada de la "Planta" -->

    <ion-item *ngIf="plant" class="custom-input">
      <ion-label>Temporada: {{plant.Temporada}}</ion-label>
    </ion-item>

    <!--Tipo de Planta-->

    <app-custom-input *ngIf="!plant" [control]="form.controls.TipoPLanta" type="text"
      label="Tipo de siembra"></app-custom-input>

    <div class="validators" *ngIf="form.controls.TipoPLanta.errors && form.controls.TipoPLanta.touched">

      <div *ngIf="form.controls.TipoPLanta.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.TipoPLanta.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>


    <!--Tipo de la "Planta" -->
    <ion-item *ngIf="plant" class="custom-input">
      <ion-label>Tipo de Siembra: {{plant.TipoSiembra}}</ion-label>
    </ion-item>


    <ion-button mode="md" class="ion-margin plantar" type="submit" [disabled]="form.invalid">
      {{plantUser ? 'Actualizar Planta' : 'Agregar planta'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>

</ion-grid>
</ion-content>