<app-header [isModal]="true" [title]="plantUser ? 'Actualizar Planta' : 'Agregar Planta'"></app-header>
<ion-content>

  <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!--solo si existe una imagen-->
    <!--<ion-avatar *ngIf="form.value.FotoPlanta">
      <img [src]="form.value.FotoPlanta">
    </ion-avatar>-->

    <!--solo si NO existe una imagen-->

    <!--<ion-icon class="image-icon" *ngIf="!form.value.FotoPlanta" name="image-outline"></ion-icon>-->

    <br>
    <!--tomar/selecciona imagen-->
    <!--<ion-button  mode="md" size="small" shape="round">
      tomar/seleccionar
    </ion-button>-->

    <!--Nombre de Planta-->

    <app-custom-input autocomplete="name" [control]="form.controls.NombrePlanta" type="text"
      label="Nombre de la planta"></app-custom-input>

    <div class="validators" *ngIf="form.controls.NombrePlanta.errors && form.controls.NombrePlanta.touched">

      <div *ngIf="form.controls.NombrePlanta.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.NombrePlanta.errors?.['minLenght']">El nombre debe tener al menos 2 caracteres</div>
    </div>

    <!--Alias planta-->

    <app-custom-input [control]="form.controls.NombrePerso" type="text"
      label="Alias de la planta" ></app-custom-input>

    <div class="validators" *ngIf="form.controls.NombrePerso.errors && form.controls.NombrePerso.touched">

      <div *ngIf="form.controls.NombrePerso.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.NombrePerso.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--Temporada-->

    <app-custom-input autocomplete="Temporada" [control]="form.controls.FechaSiembra" type="text"
      label="Fecha de siembra"></app-custom-input>

    <div class="validators" *ngIf="form.controls.FechaSiembra.errors && form.controls.FechaSiembra.touched">

      <div *ngIf="form.controls.FechaSiembra.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.FechaSiembra.errors?.['minLenght']">se debe decir si hay unidades disponibles</div>
    </div>

    <!--DiasGerminacion-->

    <app-custom-input [control]="form.controls.TipoPLanta" type="text"
      label="Tipo de planta" ></app-custom-input>

    <div class="validators" *ngIf="form.controls.TipoPLanta.errors && form.controls.TipoPLanta.touched">

      <div *ngIf="form.controls.TipoPLanta.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.TipoPLanta.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--DiasFruto-->

    <app-custom-input [control]="form.controls.UltimoDiaRiego" type="text"
      label="Ultimo Dia de riego" ></app-custom-input>

    <div class="validators" *ngIf="form.controls.UltimoDiaRiego.errors && form.controls.UltimoDiaRiego.touched">

      <div *ngIf="form.controls.UltimoDiaRiego.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.UltimoDiaRiego.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <!--DiasTransplante-->

    <app-custom-input [control]="form.controls.Temporada" type="text"
      label="Temporada" ></app-custom-input>

    <div class="validators" *ngIf="form.controls.Temporada.errors && form.controls.Temporada.touched">

      <div *ngIf="form.controls.Temporada.errors?.['required']">Este campo es requerido</div>
      <div *ngIf="form.controls.Temporada.errors?.['min']">El precio debe ser arriba de 0</div>
    </div>

    <ion-button mode="md" class="ion-margin" type="submit">
      {{plantUser ? 'Actualizar Planta' : 'Agregar planta'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>

</ion-content>
