<ion-header slot="fixed">
  <ion-toolbar color="#1a73b3" class="header_tool">

    🌱Mi huerta🌱

  </ion-toolbar>
</ion-header>


<!-- Arriba el header, abajo el contenido de la pagina  -->

<ion-content>
  <ion-grid class="background-login-register ion-padding">
    <swiper-container *ngIf="!loading">
      <swiper-slide *ngFor="let p of plantUser">
        <ion-fab vertical="top" horizontal="end" edge *ngIf="verificarRiego(p.UltimoDiaRiego)">
          <ion-fab-button (click)="presentarRiego(p.IDPlantaUser)" id="alerta-riego">
            <ion-icon name="water" size="large"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-card (click)="prePlanta(p)" class="card-holder">
          <!-- si tiene imagen -->
          <img [src]="p.FotoPlantUser">
          <ion-card-header>
            <ion-card-title class="name_tool">🍃{{p.NombrePerso}}🍃</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list class="list_list" color="#ffe4c4">
              <ion-item class="list_item" color="#ffe4c4">
                <ion-icon name="leaf" class="ion-margin"></ion-icon>
                <!-- Agregar Nombre desde BD -->
                Nombre: {{p.NombrePlanta}}
              </ion-item>
              <ion-item class="list_item" color="#ffe4c4">
                <ion-icon name="calendar" class="ion-margin"></ion-icon>
                <!-- Agregar Temporada desde BD -->
                Temporada: {{p.Temporada}}
              </ion-item>
              <ion-item class="list_item" color="#ffe4c4">
                <ion-icon name="time" class="ion-margin"></ion-icon>
                <!-- Calcular tiempo de riego -->
                <p *ngIf="!verificarRiego(p.UltimoDiaRiego)">Ultimo Riego: {{p.UltimoDiaRiego}}</p>
                <p *ngIf="verificarRiego(p.UltimoDiaRiego)" class="regar">Ultimo Riego: {{p.UltimoDiaRiego}}</p>
              </ion-item>
              <ion-item class="list_item" color="#ffe4c4">
                <ion-icon name="sunny" class="ion-margin"></ion-icon>
                <!-- Agregar Temporada desde BD -->
                Tipo de plantación: {{p.TipoPLanta}}
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>
      </swiper-slide>
      <!-- Agregar planta nueva slide -->
      <swiper-slide (click)="unaNuevaPlanta()">
        <ion-card>
          <img alt="Lechuga"
            src="https://static.vecteezy.com/system/resources/thumbnails/012/578/976/small/leaf-and-pot-icon-potted-plant-icon-trendy-design-leaf-on-pot-icon-garden-logo-illustration-vector.jpg" />
          <ion-card-header>
            <ion-card-title>Agregue una nueva planta</ion-card-title>
          </ion-card-header>

        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-grid>

</ion-content>
<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToPlantas()">
          <ion-icon color="primary" name="leaf"></ion-icon>
          Plantas
        </ion-tab-button>
        <ion-tab-button (click)="goToHome()">
          <ion-icon color="primary" name="Home"></ion-icon>
          Mi huerta
        </ion-tab-button>
        <ion-tab-button (click)="goToConsejos()">
          <ion-icon color="primary" name="bulb"></ion-icon>
          Consejos
        </ion-tab-button>
        <ion-tab-button (click)="confirmCerrarsesion()">
          <ion-icon color="primary" name="exit"></ion-icon>
          Cerrar sesión
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>