.logo{
    position:center;
    margin:auto;
    width: 100%;
    height:100%;
    padding: 10%;
}

:root {
    /* Set the background of the entire app */
    --ion-background-color: #b0f49a;
    --ion-background-color-rgb:#b0f49a;
  
    /* Set the font family of the entire app */
    --ion-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto', sans-serif;
  }
  