<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <!-- Colocar el logo aquí -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-pading">
    <!-- Aca va el contenido del menu -->
    <ion-content>
      <ion-list [inset]="true">
        <ion-item>
          <!-- Perfil -->
          <ion-icon name="person"></ion-icon>
          <ion-label class="ion-margin">Perfil</ion-label>
        </ion-item>
        <ion-item>
          <!-- Configuración -->
          <ion-icon name="build"></ion-icon>
          <ion-label class="ion-margin">Configuración</ion-label>
        </ion-item>
        <ion-item href="plantas">
          <!-- Plantas -->
          <ion-icon name="leaf"></ion-icon>
          <ion-label class="ion-margin">Plantas</ion-label>
        </ion-item>
        <ion-item>
          <!-- Consejos -->
          <ion-icon name="help"></ion-icon>
          <ion-label class="ion-margin">Consejos</ion-label>
        </ion-item>
        <ion-item (click)="cerrarSesion()">
          <!-- Cerrar Sesión -->
          <ion-icon name="log-out"></ion-icon>
          <ion-label class="ion-margin">Cerrar Sesión</ion-label>

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cosejos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Arriba todo el menu, abajo el contenido de la pagina  -->

  <ion-content class="ion-padding">

    <ion-content>
      <ion-card>
        <!-- Fertilizantes -->
        <ion-label>Fertilizantes</ion-label>
        <ion-list *ngIf="!loading">
          <ion-item-sliding class="products-item" *ngFor="let f of fert">
            <ion-item>
              <ion-avatar slot="start">

              </ion-avatar>
              <ion-label>
                <div class="name">{{f.NombreFert}}</div>
                <div>
                  <strong>Descripcion: </strong> {{f.DescripcionFert}} <br>
                  <strong>Modo de uso: </strong> {{f.ModoDeUso}} <br>
                  <strong>duracion del tratamiento:</strong> {{f.FrecuenciaDias}}
                </div>
              </ion-label>

            </ion-item>
            <!--opciones-->
            <ion-item-options>
              <!--editar-->
              <ion-item-option (click)="addUpdateFert(f)">
                <ion-icon class="option-btn" name="create-outline"></ion-icon>
              </ion-item-option>
              <!--borrar-->
              <ion-item-option color="danger" (click)="confirmDeleteFert(f)">
                <ion-icon class="option-btn" name="trash-outline"></ion-icon>
              </ion-item-option>

            </ion-item-options>
          </ion-item-sliding>
          <!-- agregar  -->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addUpdateFert()">
              <ion-icon name="add" size="small"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-list>
      </ion-card>
      <!-- Enfermedades -->
      <ion-card>
        <ion-label>Enfermedades</ion-label>
        <ion-list *ngIf="!loading">
          <ion-item-sliding class="products-item" *ngFor="let e of enfer">
            <ion-item>
              <ion-avatar slot="start">

              </ion-avatar>
              <ion-label>
                <div class="name">{{e.NombreEnfer}}</div>
                <div>
                  <strong>Descripcion: </strong> {{e.DescripcionEnfer}} <br>
                  <strong>Modo de uso: </strong> {{e.CausasEnfer}} <br>
                  <strong>control:</strong>{{e.ControlEnfer}} <br>
                  <strong>duracion del tratamiento:</strong> {{e.DuracionEnfer}}
                </div>
              </ion-label>
            </ion-item>

            <!--opciones-->
            <ion-item-options>
              <!--editar-->
              <ion-item-option (click)="addUpdateEnfer(e)">
                <ion-icon class="option-btn" name="create-outline"></ion-icon>
              </ion-item-option>
              <!--borrar-->
              <ion-item-option color="danger" (click)="confirmDeleteEnfer(e)">
                <ion-icon class="option-btn" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <!-- agregar  -->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addUpdateEnfer()">
              <ion-icon name="add" size="small"></ion-icon>
            </ion-fab-button>
          </ion-fab>

        </ion-list>
      </ion-card>

      <!-- Plagas -->

      <ion-card>
        <ion-label>Plagas</ion-label>
        <ion-list *ngIf="!loading">
          <ion-item-sliding class="products-item" *ngFor="let p of plag">
            <ion-item>
              <ion-avatar slot="start">

              </ion-avatar>
              <ion-label>
                <div class="name">{{p.NombrePlag}}</div>
                <div>
                  <strong>Descripcion: </strong> {{p.DescripcionPlag}} <br>
                  <strong>Modo de uso: </strong> {{p.CausasPosibles}} <br>
                  <strong>control:</strong>{{p.Control}} <br>
                  <strong>duracion del tratamiento:</strong> {{p.DuracionDias}}
                </div>
              </ion-label>
            </ion-item>

            <!--opciones-->
            <ion-item-options>
              <!--editar-->
              <ion-item-option (click)="addUpdatePlaga(p)">
                <ion-icon class="option-btn" name="create-outline"></ion-icon>
              </ion-item-option>
              <!--borrar-->
              <ion-item-option color="danger" (click)="confirmDeletePlag(p)">
                <ion-icon class="option-btn" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
          <!-- agregar  -->
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="addUpdatePlaga()">
              <ion-icon name="add" size="small"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-list>
      </ion-card>

    </ion-content>

  </ion-content>
</div>|