<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="header_tool">
          📗Glosario y consejos📕
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<!-- Arriba todo el menu, abajo el contenido de la pagina  -->

<ion-content>
  <ion-grid class="background-login-register ion-pading">
    <!-- Fertilizantes -->
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="fert_pop" size="large">Fertilizantes</ion-button>
        <ion-popover trigger="fert_pop" side="bottom" alignment="center">
          <ng-template>
            <ion-content class="ion-padding">
              <h4>
                "Un fertilizante o abono es cualquier tipo de sustancia orgánica 
                o inorgánica que contiene nutrientes en formas asimilables por las plantas, 
                para mantener o incrementar el contenido de estos elementos en el suelo."
              </h4>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-list lines="inset" *ngIf="!loading" lines="full">
      <ion-item-sliding class="products-item" *ngFor="let f of fert">
        <ion-item [button]="true" (click)="verFert(f)">
          <ion-icon class="ion-padding" color="secondary" name="nutrition"></ion-icon>
          <ion-label class="ion-text-left">{{f.NombreFert}}</ion-label>
        </ion-item>
        <!-- opciones -->
        <ion-item-options slot="end" *ngIf="admin">
          <!-- Editar -->
          <ion-item-option color="warning" (click)="addUpdateFert(f)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <!-- Borrar -->
          <ion-item-option color="danger" expandable="true" (click)="confirmDeleteFert(f)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!-- Agregar -->
      <ion-item [button]="true" *ngIf="admin" (click)="addUpdateFert()">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label>Agregar nuevo</ion-label>
      </ion-item>
    </ion-list>
    <br />

    <!-- Enfermedades -->
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="enf-pop" size="large" color="warning">Enfermedades</ion-button>
        <ion-popover trigger="enf-pop" side="bottom" alignment="center">
          <ng-template>
            <ion-content class="ion-padding">
              <h4>
                "Las enfermedades en hortalizas son principlamente  la proliferación de hongos. Los que si tienen condiciones favorables se dispersan fácilemente por el cultivo por lo que para la prevención de estos te acosejamos lo siguiente:<br> 
1.- Podar semanalmente hojas secas o que limiten con el suelo.<br> 
2.-Mantener el suelo humedo, pero no encharcado.<br> 
3.-Agregar trichodermas al suelo o sustrato (este paso es opcional).
"




              </h4>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-list lines="inset" *ngIf="!loading" lines="full">
      <ion-item-sliding class="products-item" *ngFor="let e of enfer">
        <ion-item [button]="true" (click)=verEnf(e)>
          <ion-icon color="warning" class="ion-padding" name="bandage"></ion-icon>
          <ion-label class="ion-text-left">{{e.NombreEnfer}}</ion-label>
        </ion-item>
        <!-- opciones -->
        <ion-item-options slot="end" *ngIf="admin">
          <!-- Editar -->
          <ion-item-option color="warning" (click)="addUpdateEnfer(e)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <!-- Borrar -->
          <ion-item-option color="danger" expandable="true" (click)="confirmDeleteEnfer(e)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!-- agregar -->
      <ion-item [button]="true" *ngIf="admin" (click)="addUpdateEnfer()">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label>Agregar nuevo</ion-label>
      </ion-item>
    </ion-list>
    <br />
    <!-- Plagas -->
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button id="plag-pop" size="large" color="danger">Plagas</ion-button>
        <ion-popover trigger="plag-pop" side="bottom" alignment="center">
          <ng-template>
            <ion-content class="ion-padding">
              <h4>
                "Cuando hablamos de las plagas nos referimos principalmente a insectos, ácaros y moluscos como el caracol,  éstos están naturalemente asociados a las plantas ya que las utilizan como alimento, y para su reproducción. Para evitar su presencia podemos tomar las siguientes acciones:<br>
1.-Mantener limpio y podado el cultivo.<br>
2.-Realizar un monitoreo semanal revisando las plantas en el vés y envés de la hoja, tallos, flores, frutos.para detectar plagas.<br>
3.- Agregar una cubierta de malla antiáfidos, para crear barrera contra insectos.<br>
"
              </h4>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-list lines="inset" *ngIf="!loading" lines="full">
      <ion-item-sliding class="products-item" *ngFor="let p of plag">
        <ion-item [button]="true" (click)="verPlag(p)">
          <ion-icon color="danger" class="ion-padding" name="bug"></ion-icon>
          <ion-label class="ion-text-left">{{p.NombrePlag}}</ion-label>
        </ion-item>
        <ion-item-options slot="end" *ngIf="admin">
          <!-- editar -->
          <ion-item-option color="warning" (click)="addUpdatePlaga(p)">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-item-option>
          <!-- borrar -->
          <ion-item-option color="danger" expandable="true" (click)="confirmDeletePlag(p)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!-- agregar plaga -->
      <ion-item [button]="true" *ngIf="admin" (click)="addUpdatePlaga()">
        <ion-icon name="add" slot="start"></ion-icon>
        <ion-label>Agregar nuevo</ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<!--Footer-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToPlantas()">
          <ion-icon color="primary" name="leaf"></ion-icon>
          Plantas
        </ion-tab-button>
        <ion-tab-button (click)="goToHome()">
          <ion-icon color="primary" name="Home"></ion-icon>
          Mi huerta
        </ion-tab-button>
        <ion-tab-button (click)="goToConsejos()">
          <ion-icon color="primary" name="bulb"></ion-icon>
          Consejos
        </ion-tab-button>
        <ion-tab-button (click)="confirmCerrarsesion()">
          <ion-icon color="primary" name="exit"></ion-icon>
          Cerrar sesión
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>